body{
    margin:0;
}

header{
    box-shadow: 0 0 10px 4px rgba(255, 68, 0, 0.815);
}

hr{
    background-color: white;
    height: 5px !important;
    opacity: 1;
}

#inc, #ventas, #tar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}

#inc:hover, #ventas:hover, #tar:hover {
    background-color: rgb(201, 54, 0); 
    cursor: pointer; /* Cambia el cursor a un puntero */
    transition: background-color 0.3s ease; /* Efecto de transición para el color */
}

/* Ajustar el borde del div res */
#res {
    border: 1px solid #00000056; /* Borde negro */
    height: 225px; /* Altura fija para el div res */
    margin-top: -2px; /* Quitar espacio entre el menú y el borde */
}

.p-head{
    font-weight: bold; 
    color: white;    
    font-size: 20px;
    padding: 10px 0 10px 5px;
}

.p-head2{ 
    color: white;    
    font-size: 20px;
    padding: 10px 0 10px 5px;
}

.container{
    padding: 0 !important;
}

.bg-red{
    background-color: rgb(192, 44, 44);
}

.bg-red:hover{
    background-color: rgb(145, 34, 34);
}

.card{
    box-shadow: 0 5px 5px 2px rgba(255, 68, 0, 0.238);
    margin-bottom: 15px;
    padding: 10px;
}

.id{
    height: 20px;
}

.id>p{
    font-weight: bold;
}

.same-size{
    width: 125px;
    height: 125px;
    object-fit: cover;
}

.cont:hover .same-size{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.cont:hover{
    box-shadow: 0 5px 15px 5px rgba(255, 68, 0, 0.279);
}

.cont{
    overflow: hidden;
}

.selected{
    background-color: rgb(37, 37, 37) !important;
}

.selected > p {
    color: orangered !important;
    text-shadow: 0 0 1px rgba(255, 68, 0, 0.815), 0 0 10px rgba(255, 68, 0, 0.815), 0 0 20px rgba(255, 68, 0, 0.815);
}


.progress{
    width: 70%;
    background-color: #ccc;
}

.progress-bar {
    height: 100%;
    transition: width 2s ease; /* Duración y suavidad de la animación */
}

.danger{
    background-color: #be0202;
}

.success{
    background-color: #008f00;
}

.text-orange{
    color: orangered;
}

